<!doctype html>
<html>
    <head>
        <title>Welcome to Random Movie Suggestion</title>
    </head>
    <body>
        <div>
            <h1>Movie Suggestion</h1>
            <a href="{{ url_for('movie_suggest.index') }}">Movie Suggestion</a>
            {% if session["username"] %}
            <a href="{{ url_for('user.login') }}">Login</a>
            {% else %}
            <a href="{{ url_for('user.logout') }}">Logout</a>
            {% endif %}
        </div>
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>